header{
	text-align: center;
	


}
body{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;

}
.wrap{
	position: relative;
	
	margin-top: 30px;
	padding: 10px;
	height: 354.4px;
	width: 260px;
	border: 1px solid #e9e8e8;
	border-radius: 3px;
	
}

.wrap_2{
	
	box-sizing: inherit;
	overflow: auto;
	height: 291px;
	width: 228px;
	
	
	font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-weight: 400;
	margin-right: 50px;
	margin-top: 30px;
}

ul{
	list-style-type: none;
	color: #7f8c8d;
}
li{
	display: block;
	padding: 7px 0;
    padding-top: 7px;
    padding-right: 0px;
    padding-bottom: 7px;
    padding-left: 0px;
    border-top: 1px solid #e9e8e8;
}
.wrap_2 ul li:first-child{
	border-top: 0;
}
a { 
	color: #7f8c8d;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	text-decoration: none;
	outline: none;
	-webkit-tap-highlight-color:transparent;
	-webkit-tap-highlight-color: transparent;

}
a:hover{
	color: #000100; 
}